@import url("https://fonts.googleapis.com/css2?family=Kreon&family=Signika:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");
img {
  width: 76%;
}
img:hover {
  width: 100%;
}
#imgContainer {
  display: flex;
  justify-content: center;
}
#mainContainer {
  width: 100%;
  border-radius: 0%;
  display: block;
  border: none;
  background-color: #121212;
  color: #eaeaea;
  padding: 1.5em 1em 0em 1em;
}
.card-text {
  font-size: 1.2rem;
  font-family: "Lexend", sans-serif;
}
#titleCard {
  font-size: 1.5rem;
  font-family: "Kreon", serif;
  justify-content: space-between;
}
.card-title {
  font-size: 1.7rem;
}
#date {
  width: 23%;
  display: flex;
}

.button {
  background-color: #e32652;
  border: none;
  color: #eaeaea;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Kreon", serif;
}
#maxPeople {
  width: 100px;
  font-size: 1.5rem;
  font-family: "Kreon", serif;
}
.col-md {
  display: flex;
  justify-content: center;
  align-items: center;
}
.using-button {
  background-color: #8e8e8e;
  border: none;
  color: #eaeaea;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Kreon", serif;
}
.full {
  color: #eaeaea;
  font-size: 1.5rem;
  font-family: "Kreon", serif;
}

#btnmaxpeopleContainer {
  width: 100%;
}

#using-button-active {
  display: none;
}
#full-active {
  display: none;
}
@media (max-width: 768px) {
  img {
    width: 35%;
    height: 70%;
  }
  #imgContainer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
  #childrenContainer {
    width: 100%;
  }
  #btnmaxpeopleContainer {
    display: flex;
  }
  #date {
    width: auto;
    display: flex;
  }
  #maxPeople {
    margin-left: 15px;
    display: flex;
    align-items: center;
  }
}
